<style>
  /* Стили для блоков <p> */
  p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  /* Стили для заголовков блоков */
  h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
</style>

{% extends 'main/base.html' %}

{% load static %}

{% block title%}
Правила пользования
{% endblock %}

{% block content%}
    <h1>Страница Главная:</h1>
    <p>
        Эта страница содержит все ваши решения. Если у вас пока нет решений, вы можете их получить, зарегистрировавшись или войдя в свой профиль.
        Решения можно выбрать или удалить. После выбора решения вы будете перенаправлены на страницу 'Распознавание'. Если вы удалите решение, оно также будет удалено из базы данных.
    </p>

    <h1>Страница Кластеризация, Кластеризация(data):</h1>
    <p>
        Это страницы, на которых вы получаете решения. Решения можно получить разными способами. Если вы используете Кластеризацию, вам следует указать необходимые параметры Образовательного ресурса, выбрать
        алгоритм кластеризации, и объекты будут автоматически сгенерированы случайным образом. После нажатия кнопки "Кластеризовать", появится график с объектами ОР, и решение будет доступно на главной странице.
        Если вы используете Кластеризацию(data), вам также нужно выбрать алгоритм и указать некоторые параметры. Затем вам необходимо загрузить файл Excel на сайт, нажав кнопку "Загрузить". Решение будет также доступно на главной странице.
        Формат файла Excel должен быть следующим:
        <img src="{% static 'images/image.png' %}" alt="Описание изображения">
    </p>

    <h1>Страница Распознавания:</h1>
    <p>
        Вы попадете на эту страницу после выбора решения. Здесь вам достаточно ввести новый объект в предложенном формате и нажать кнопку "Распознать объект".
    </p>
{% endblock %}


